.section-center
{
    margin-left: auto;
    margin-right: auto;
    background-color:aquamarine;
    width: 60%; 
    text-align: center; 
      
}
.section-center:hover
{
    box-shadow: var(--dark-shadow);
}
.alert
{
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 1.25 rem;
    display:grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
}
.alert-bad
{
    color: #721c24;
    background: #f8d7da;
}
.alert-good
{
    color:#7DDA58;
    background: #d7f8de;
}
.submit-btn:hover
{
    background-color: bisque;
    color: white;
}
.clear-btn:hover
{
    background-color: bisque;
    color: white;
}
.clear-btn
{
    margin: 2rem;
}
.edit-btn
{
    background: yellow;
    min-height: 15px;
}
.delete-btn
{
    background: red;
    min-height: 15px;
}
.list-container
{
    margin-top:2rem;
    visibility: hidden;
}
.show-container
{
    visibility: visible;
}
.list-item
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem;
    text-transform:capitalize;
}